body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #06413D, #068b83);
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    padding: 30px;
    text-align: center;
    background: linear-gradient(to right, #068b83, #06413D);
}

h1 {
    color: #EFD9CC;
}

p {
    color: #EFD9CC;
    margin-bottom: 20px;
}
form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0072c6;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005a9e;
}

.contact-details {
    margin-top: 30px;
}

.contact-details h2 {
    color: #EFD9CC;
    margin-bottom: 10px;
}

.contact-details p {
    color: #EFD9CC;
    margin-bottom: 8px;
}

.contact-details a {
    color: #0072c6;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}
